<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang = "en">
<head>
		<title> vcolavin |{% block title %}{% endblock %}</title>
</head>
<body>
	<h2>This is a title that should appear on every page.</h2>
	{% block content %}{% endblock %}
	{% block footer %}
	<hr>
	<p><b>This is a footer. It mentions my name, which is Vincent, and the year, which is 2014.</p>
	{% endblock %}
</body>
</html>