{% extends "base.html" %}

{% block title %} Time {% endblock %}

{% block content %}
{% for i in data %}
	{% if forloop.first %}
		<li> It is currently {{i.new_time}} In Greenwich, anyways. </li>
	{% elif i.number_hours == 1 %}
		<li> In an hour it will be {{i.new_time}}</li>
	{% else %}
		<li> In {{i.number_hours}} hours it will be {{i.new_time}} </li>
	{% endif %}
{% endfor %}
{% endblock %}

<!-- <html>
<body>
{% for i in data %}
	{% if forloop.first %}
		<li> It is currently {{i.new_time}}. In Greenwich, anyways. </li>
	{% else %}
		<li> In {{i.number_hours}} hours it will be {{i.new_time}}. </li>
	{% endif %}
{% endfor %}

<br> I was really worried that my template code was inefficient and ugly, but apparently Django template parsing is pretty efficient (compared to Python) and done almost entirely with RegEx, which is ridiculous. To me, for now, reading RegEx is about as maddening as reading the scripture of the Elder Gods, which, all praise Be to Azathoth.

</body>
</html> -->

